*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: plum;
}
input{
    
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}
nav{
 background-color: black;
 color: red;
}
.timer{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.txt{
    padding: 2rem;
    font-size: 3rem;
}
.countdown{
    background-color: paleturquoise;
    height: 35vh;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-shadow: 0 8px 30px rgba(14,21,47,0.6);
}
.hour,.minute,.second{
    font-size: 3rem;
}
#h,#m,#s{
    text-align: center;
}

.btns{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
/*Analog Clock*/

.main {
    display: flex;
    padding: 2em;
    justify-content: center;
    align-items: middle;
}

.clockbox,
#clock {
    width: 100%;
}


.circle {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #000;
}
.hour-marks {
    fill: none;
    stroke: rgb(24, 24, 24);
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #000;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #000;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.sizing-box {
    fill: none;
}

#hour,
#minute,
#second {
    transform-origin: 300px 300px;
}